[Desktop Entry]
Name=Thunar File Manager
Name[zh_CN]=Thunar 文件管理器
Comment=Browse the filesystem with the file manager
Comment[zh_CN]=用文件管理器浏览文件系统
GenericName=File Manager
GenericName[zh_CN]=文件管理器
Exec=thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
X-XFCE-Source=file:///usr/share/applications/Thunar.desktop
