[Desktop Entry]
Name=Inkblot 打印机墨水
GenericName=Printer Ink Level Monitor
Comment=Check your printer ink cartridge levels
Exec=inkblot
Terminal=false
Type=Application
Icon=inkblot
StartupNotify=false
Categories=GNOME;GTK;System;Utility;
X-Ubuntu-Gettext-Domain=inkblot
Path=
